{% extends "home/base.html" %}

{% load home_tags %}
{% load wagtailcore_tags %}

{% block content %}
    {{ block.super }}

    {% index_image %}

    <!-- Breadcrumbs -->
    {% breadcrumbs %}


    <!-- Start Body Content -->
  	<div class="main" role="main">
    	<div id="content" class="content full">
            <div class="container">
            	<div class="row">
                    <div class="col-md-9">
                    	<h4 class="short accent-color">{{ page.sub_title }}</h4>

                        {{ page.body|richtext }}

                        <hr class="fw">
                        <h2 class="widget-title">{{ page.join_item_title }}</h2>
                        <div class="spacer-30"></div>

                        <!-- Membership Plans -->
                        <div class="membership-plans">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="icon-box ibox-rounded">
                                        <div class="ibox-icon">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <h3>Individual</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
                                        <a href="#" class="btn btn-default">Join now</a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon-box ibox-rounded">
                                        <div class="ibox-icon">
                                            <i class="fa fa-users"></i>
                                        </div>
                                        <h3>Group</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
                                        <a href="#" class="btn btn-default">Join now</a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="icon-box ibox-rounded">
                                        <div class="ibox-icon">
                                            <i class="fa fa-building"></i>
                                        </div>
                                        <h3>Corporate</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus.</p>
                                        <a href="#" class="btn btn-default">Join now</a>
                                    </div>
                                </div>
                            </div>
                       	</div>
                   	</div>

                    <div class="col-md-3 sidebar right-sidebar">

                    </div>
                </div>
            </div>
        </div>
   	</div>
    <!-- End Body Content -->


{% endblock %}
