{% extends "home/base.html" %}

{% load home_tags %}
{% load wagtailimages_tags %}

{% block content %}
    {{ block.super }}

    {% blog_hero_item %}

    <!-- Breadcrumbs -->
    {% breadcrumbs %}

    <!-- Start Body Content -->
    <div class="main" role="main">
      <div id="content" class="content full single-post">
            <div class="container">
              <div class="row">
                    <div class="col-md-8">
                  <header class="single-post-header clearfix">
                      <h1 class="post-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
                            <div class="meta-data alt">
                                <div><i class="fa fa-clock-o"></i> April 19, 2015</div>
                                <div><i class="fa fa-archive"></i> <a href="#">Concert</a>, <a href="#">Exhibitions</a></div>
                            </div>
                  </header>
                  <article class="post-content">
                      <div class="featured-image"> <img src="http://placehold.it/1400x600&amp;text=IMAGE+PLACEHOLDER" alt=""> </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Aliquam pellentesque pellentesque turpis, ut bibendum sapien sollicitudin nec. Pellentesque posuere ornare placerat. Suspendisse potenti. Quisque massa tortor, tristique non tristique at, luctus sed massa. Donec libero eros, mollis ac fringilla eu, vestibulum sed lorem. Aenean aliquet tempor purus, sit amet ultricies neque bibendum venenatis. Suspendisse pulvinar massa sed odio semper mattis. Pellentesque vel nunc arcu, id rhoncus magna. Maecenas quis tempus ligula. Nunc ac tortor diam. Phasellus tincidunt rutrum diam, eget elementum lorem sagittis eget.</p>
                      <h3>Vivamus convallis</h3>
                      <p>Integer faucibus magna vitae augue suscipit a varius sem scelerisque. Nunc scelerisque tempus nunc in euismod. In sagittis congue sodales. Cras sit amet est nibh. Suspendisse eget ligula in nulla iaculis interdum nec a odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras massa odio, facilisis tincidunt blandit semper, lacinia semper dui. Donec viverra eros quis urna congue facilisis. Vivamus convallis imperdiet porta. Aliquam a nisi risus, vitae faucibus sem.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam.</p>
                      <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel. Donec vel mauris quam. Aliquam pellentesque pellentesque turpis, ut bibendum sapien sollicitudin nec. Pellentesque posuere ornare placerat. Suspendisse potenti. Quisque massa tortor, tristique non tristique at, luctus sed massa. Donec libero eros, mollis ac fringilla eu, vestibulum sed lorem. </p>
                      </blockquote>
                      <div class="post-meta"> <i class="fa fa-tags"></i>
                              <a href="#">Museums</a>,
                              <a href="#">Mehar mansion</a>,
                              <a href="#">Coming soon events</a>,
                              <a href="#">Members</a>,
                              <a href="#">Exhibitions</a>,
                              <a href="#">Uncategorized</a>
                            </div>
                            <!-- About Author -->
                            <section class="about-author">
                                <img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                <div class="post-author-content">
                                    <h3>Beverly Barnett <span class="label label-primary">Author</span></h3>
                                  <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
                                </div>
                            </section>
                            <!-- Pagination -->
                            <ul class="pager">
                                <li class="pull-left"><a href="#">&larr; Prev Post</a></li>
                                <li class="pull-right"><a href="#">Next Post &rarr;</a></li>
                            </ul>
                  </article>
                  <section class="post-comments" id="comments">
                      <h2><i class="fa fa-comment"></i> Comments (4)</h2>
                      <ol class="comments">
                        <li>
                            <div class="post-comment-block">
                              <img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                        <div class="post-comment-content">
                                            <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                            <h5>John Doe says</h5>
                                            <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                            <p>Curabitur nec nulla lectus, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
                                        </div>
                            </div>
                        </li>
                        <li>
                                    <div class="post-comment-block">
                              <img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                        <div class="post-comment-content">
                                            <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                            <h5>John Doe says</h5>
                                            <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                            <p>Curabitur nec nulla lectus.</p>
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="post-comment-block">
                                  <img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                                <div class="post-comment-content">
                                                    <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                                    <h5>John Doe says</h5>
                                                    <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                                    <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a. Phasellus nec nisi justo. Ut luctus sagittis nulla at dapibus. Aliquam ullamcorper commodo elit, quis ornare eros consectetur a.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-comment-block">
                                  <img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                                <div class="post-comment-content">
                                                    <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                                    <h5>John Doe says</h5>
                                                    <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                                    <p>Curabitur nec nulla lectus, non hendrerit lorem.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="post-comment-block">
                              <img src="http://placehold.it/100x100&amp;text=IMAGE+PLACEHOLDER" alt="avatar" class="img-thumbnail">
                                        <div class="post-comment-content">
                                            <a href="#" class="btn btn-default btn-xs pull-right">Reply</a>
                                            <h5>John Doe says</h5>
                                            <span class="meta-data">Nov 23, 2013 at 7:58 pm</span>
                                            <p>Curabitur nec nulla lectus, non hendrerit lorem. Quisque lorem risus, porttitor eget fringilla non, vehicula sed tortor. Proin enim quam, vulputate at lobortis quis, condimentum at justo.</p>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </section>
                        <section class="post-comment-form">
                            <h3><i class="fa fa-share"></i> Post a comment</h3>
                            <form>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4">
                                            <input type="text" class="form-control input-lg" placeholder="Your name">
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <input type="email" class="form-control input-lg" placeholder="Your email">
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <input type="url" class="form-control input-lg" placeholder="Website (optional)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                          <textarea cols="8" rows="4" class="form-control input-lg" placeholder="Your comment"></textarea>
                                      </div>
                                  </div>
                              </div>
                              <div class="row">
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <button type="submit" class="btn btn-primary btn-lg">Submit your comment</button>
                                      </div>
                                  </div>
                              </div>
                          </form>
                      </section>
                    </div>

                    <div class="col-md-4 sidebar right-sidebar">

                        <!-- TODO -->

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Body Content -->

{% endblock %}
