{% extends "home/base.html" %}

{% load home_tags %}
{% load wagtailimages_tags %}

{% block content %}
    {{ block.super }}
    <div class="hero-area">
        {% image self.image fill-1400x400-c50 as img %}
        <div class="page-header" style="background-image: url({{ img.url }}")>
            <div><div><span>Classic Blog</span></div></div>
        </div>
    </div>

    <!-- Breadcrumbs -->
    {% breadcrumbs %}

    <!-- Start Body Content -->
    <div class="main" role="main">
      <div id="content" class="content full">
            <div class="container">
              <div class="row">
                    <div class="col-md-8">
                        <div class="posts-listing">

                            <!-- List Item -->
                            <div class="list-item blog-list-item format-standard">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="post-media">
                                            <a href="blog-single.html" class="img-thumbnail"><img src="http://placehold.it/600x500&amp;text=IMAGE+PLACEHOLDER" alt="" class="post-thumb"></a>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <h3><a href="blog-single.html">Standard Post Format</a></h3>
                                        <div class="meta-data alt">
                                          <div><i class="fa fa-clock-o"></i> April 20, 2015</div>
                                          <div><i class="fa fa-archive"></i> <a href="#">Conservation</a>, <a href="#">Exhibitions</a></div>
                                        </div>
                                        <div class="list-item-excerpt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem...</p>
                                        </div>
                                        <div class="post-actions">
                                            <a href="blog-single.html" class="btn btn-primary">Continue reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- List Item -->
                            <div class="list-item blog-list-item format-audio">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="post-media">
                                            <iframe width="100%" height="170" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/2678309&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <h3><a href="blog-single.html">Soundcloud audio post</a></h3>
                                        <div class="meta-data alt">
                                          <div><i class="fa fa-clock-o"></i> April 19, 2015</div>
                                          <div><i class="fa fa-archive"></i> <a href="#">Concert</a>, <a href="#">Exhibitions</a></div>
                                        </div>
                                        <div class="list-item-excerpt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem...</p>
                                        </div>
                                        <div class="post-actions">
                                            <a href="blog-single.html" class="btn btn-primary">Continue reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- List Item -->
                            <div class="list-item blog-list-item format-video">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="post-media">
                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/KKNZozVqHNI?rel=0" frameborder="0" allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <h3><a href="blog-single.html">A Youtube video post</a></h3>
                                        <div class="meta-data alt">
                                          <div><i class="fa fa-clock-o"></i> April 19, 2015</div>
                                          <div><i class="fa fa-archive"></i> <a href="#">Concert</a>, <a href="#">Exhibitions</a></div>
                                        </div>
                                        <div class="list-item-excerpt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem...</p>
                                        </div>
                                        <div class="post-actions">
                                            <a href="blog-single.html" class="btn btn-primary">Continue reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- List Item -->
                            <div class="list-item blog-list-item format-gallery">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="post-media">
                                            <div class="flexslider galleryflex" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="slide" data-pause="yes">
                                                <ul class="slides">
                                                    <li class="item"><a href="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto[postname]"><img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt=""></a></li>
                                                    <li class="item"><a href="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" data-rel="prettyPhoto[postname]"><img src="http://placehold.it/800x500&amp;text=IMAGE+PLACEHOLDER" alt=""></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <h3><a href="blog-single.html">A Gallery post</a></h3>
                                        <div class="meta-data alt">
                                          <div><i class="fa fa-clock-o"></i> April 19, 2015</div>
                                          <div><i class="fa fa-archive"></i> <a href="#">Concert</a>, <a href="#">Exhibitions</a></div>
                                        </div>
                                        <div class="list-item-excerpt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem...</p>
                                        </div>
                                        <div class="post-actions">
                                            <a href="blog-single.html" class="btn btn-primary">Continue reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- List Item -->
                            <div class="list-item blog-list-item format-video">
                                <div class="row">
                                    <div class="col-md-4 col-sm-4">
                                        <div class="post-media">
                                            <iframe src="https://player.vimeo.com/video/22382844?color=9bc8ce&title=0&byline=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-sm-8">
                                        <h3><a href="blog-single.html">A Vimeo video post</a></h3>
                                        <div class="meta-data alt">
                                          <div><i class="fa fa-clock-o"></i> April 19, 2015</div>
                                          <div><i class="fa fa-archive"></i> <a href="#">Concert</a>, <a href="#">Exhibitions</a></div>
                                        </div>
                                        <div class="list-item-excerpt">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem...</p>
                                        </div>
                                        <div class="post-actions">
                                            <a href="blog-single.html" class="btn btn-primary">Continue reading</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <ul class="pagination">
                            <li><a href="#" title="First"><i class="fa fa-chevron-left"></i></a></li>
                            <li class="active"><span>1</span></li>
                            <li><a href="#" class="">2</a></li>
                            <li><a href="#" class="">3</a></li>
                            <li><a href="#" title="Last"><i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 sidebar right-sidebar">

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
