{% extends "base.html" %}

{% load home_tags  %}
{% load menu_tags %}

{% block content %}

<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 pull-right">
                <ul class="pull-right social-icons-colored">
                    {% social %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="site-header-wrapper">
  <!-- Start Site Header -->
    <header class="site-header">
        <div class="container sp-cont">

            {% logo %}

            <a href="#" class="visible-sm visible-xs" id="menu-toggle"><i class="fa fa-bars"></i></a>
            <!-- Main Navigation -->

            {% main_menu template='home/includes/menus/main_menu.html' %}

        </div>
    </header>
  <!-- End Site Header -->
</div>
{% endblock content %}

{% block footer %}
<div class="spacer-50"></div>
<!-- Start site footer -->
<footer class="site-footer">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-sm-12">

              {% aboutfooter %}

          </div>
          <div class="col-md-3 col-sm-6">

            {% flat_menu 'footer' template='home/includes/menus/footer_menu.html' %}

          </div>
          <div class="col-md-3 col-sm-6">
              <div class="widget footer-widget">
                  <h4 class="widget-title">Our Venues</h4>
                  <address>
                    <a href="venue-single.html"><strong>Accrue Homestead</strong></a><br>
                      <span>158 Marion Street<br>
        Columbia, SC 29201</span>
                  </address>
                  <hr>
                  <address>
                    <a href="venue-single.html"><strong>Mehar Mansion</strong></a><br>
                      <span>158 Marion Street<br>
        Columbia, SC 29201</span>
                  </address>
                  <hr>
                  <address>
                    <a href="venue-single.html"><strong>Shop Pleu</strong></a><br>
                      <span>158 Marion Street<br>
        Columbia, SC 29201</span>
                  </address>
              </div>
          </div>
        </div>
    </div>
</footer>
<footer class="site-footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 copyrights-left">

                {% copyright %}

            </div>
            <div class="col-md-6 col-sm-6 copyrights-right">
                <ul class="pull-right social-icons-colored">

                    {% social %}

                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- End site footer -->
<a id="back-to-top"><i class="fa fa-chevron-up"></i></a>
{% endblock footer %}
