{% extends "home/base.html" %}

{% load home_tags %}
{% load menu_tags %}
{% load static %}
{% load wagtailcore_tags %}

{% block content %}
    {{ block.super }}

    {% index_image %}

    {% breadcrumbs %}

    <div class="main" role="main">
        <div id="content" class="content full">

          <div class="container">
            <div class="row">
              <div class="col-md-9 col-sm-12">

                {% if self.news_item.get.primary %}
                  <div class="row">
                    <div class="col-md-12 col-sm-12">
                      <div class="posts-listing">
                        {% for blog in self.news_item.get.primary %}
                            {% blog_hero_item blog=blog %}
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                {% endif %}

                {% if self.competitions.all %}
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <h3 class="widget-title">Results</h3>
                    <p>Navigate the tabs below to find all the latest stats on teams in the MMPL. Results are updated weekly on Thursday.</p>

                    {% include "home/includes/competition_tabs.html" with competitions=self.competitions.all %}

                  </div>
                </div>
                {% endif %}

                <hr/>

                {% if self.news_item.get.secondary %}
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <h3 class="widget-title">News</h3>

                    <div class="posts-listing">
                      {% for blog in self.news_item.get.secondary %}
                          {% blog_index_item blog=blog %}
                      {% endfor %}
                      <ul class="pager pull-right">
                          <li><a href="{% pageurl self.news_item.get.link_page %}">More →</a></li>
                      </ul>
                    </div>
                  </div>  
                </div>
                {% endif %}

              </div>

              <div class="col-md-3 col-sm-12">
                {% flat_menu 'season_sidebar' template='home/includes/menus/season_sidebar.html' %}
              </div>
              
            </div>
          </div>
        </div>
    </div>

{% endblock %}

{% block extra_js %}
  {% for competition in self.competitions.all %}
    <script>iFrameResize({log:true}, '#poolstat{{ forloop.counter }}')</script>
  {% endfor %}
{% endblock %}
