{% extends "home/base.html" %}

{% load home_tags %}
{% load static %}

{% block content %}
    {{ block.super }}

    <div class="hero-area">
        <div class="page-header" style="background-image: url({% static 'img/placehold-index.jpg' %}")>
            <div><div><span>Winter 2017</span></div></div>
        </div>
    </div>

    {% breadcrumbs %}

    <div class="main" role="main">
        <div id="content" class="content full">

          <div class="container">
            <div class="row">
              <div class="col-md-9 col-sm-12">
                	<div class="row">
                    <div class="col-md-12 col-sm-12">
                      <h3 class="widget-title">Results</h3>
                      <p>Navigate the tabs below to find all the latest stats on teams in the MMPL. Results are updated weekly on Thursday.</p>
                      <div class="tabs internships-programs">
                        <ul class="nav nav-tabs">
                            <li class="active"> <a data-toggle="tab" href="#resultstab"> Results </a> </li>
                            <li> <a data-toggle="tab" href="#drawtab"> Next Week </a> </li>
                            <li> <a data-toggle="tab" href="#laddertab"> Ladder </a> </li>
                        </ul>
                        <div class="tab-content">
                            <div id="resultstab" class="tab-pane active">
                            	<h3> Last Week </h3>
                                <div class="accordion" id="toggleArea">

                                    <div class="accordion-group panel">
                                        <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseOne"> Premier <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                                        <div id="collapseOne" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                              <table class="table table-striped">
                                                <thead>
                                                  <tr>
                                                    <th>Home Team</th>
                                                    <th>Home Score</th>
                                                    <th>Away Score</th>
                                                    <th>Away Team</th>
                                                    <th>Venue</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>Pulo United</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>BYE</td>
                                                    <td>BYE</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Peacocks</td>
                                                    <td>12</td>
                                                    <td>8</td>
                                                    <td>Baize Invaders</td>
                                                    <td>Peacock</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Quarry Cannons</td>
                                                    <td>10</td>
                                                    <td>12</td>
                                                    <td>Bangers</td>
                                                    <td>Quarry Hotel</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Westerners</td>
                                                    <td>9</td>
                                                    <td>11</td>
                                                    <td>Arcadia</td>
                                                    <td>Moonee Ponds Club</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-group panel">
                                        <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseTwo"> Division 1 <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                                        <div id="collapseTwo" class="accordion-body collapse">
                                          <div class="accordion-inner">
                                            <table class="table table-striped">
                                              <thead>
                                                <tr>
                                                  <th>Home Team</th>
                                                  <th>Home Score</th>
                                                  <th>Away Score</th>
                                                  <th>Away Team</th>
                                                  <th>Venue</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td>Pulo United</td>
                                                  <td>-</td>
                                                  <td>-</td>
                                                  <td>BYE</td>
                                                  <td>BYE</td>
                                                </tr>
                                                <tr>
                                                  <td>Peacocks</td>
                                                  <td>12</td>
                                                  <td>8</td>
                                                  <td>Baize Invaders</td>
                                                  <td>Peacock</td>
                                                </tr>
                                                <tr>
                                                  <td>Quarry Cannons</td>
                                                  <td>10</td>
                                                  <td>12</td>
                                                  <td>Bangers</td>
                                                  <td>Quarry Hotel</td>
                                                </tr>
                                                <tr>
                                                  <td>Westerners</td>
                                                  <td>9</td>
                                                  <td>11</td>
                                                  <td>Arcadia</td>
                                                  <td>Moonee Ponds Club</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="accordion-group panel">
                                        <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseThree"> Division 2 <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                                        <div id="collapseThree" class="accordion-body collapse">
                                          <div class="accordion-inner">
                                            <table class="table table-striped">
                                              <thead>
                                                <tr>
                                                  <th>Home Team</th>
                                                  <th>Home Score</th>
                                                  <th>Away Score</th>
                                                  <th>Away Team</th>
                                                  <th>Venue</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td>Pulo United</td>
                                                  <td>-</td>
                                                  <td>-</td>
                                                  <td>BYE</td>
                                                  <td>BYE</td>
                                                </tr>
                                                <tr>
                                                  <td>Peacocks</td>
                                                  <td>12</td>
                                                  <td>8</td>
                                                  <td>Baize Invaders</td>
                                                  <td>Peacock</td>
                                                </tr>
                                                <tr>
                                                  <td>Quarry Cannons</td>
                                                  <td>10</td>
                                                  <td>12</td>
                                                  <td>Bangers</td>
                                                  <td>Quarry Hotel</td>
                                                </tr>
                                                <tr>
                                                  <td>Westerners</td>
                                                  <td>9</td>
                                                  <td>11</td>
                                                  <td>Arcadia</td>
                                                  <td>Moonee Ponds Club</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- End Toggle -->
                            </div>
                            <div id="drawtab" class="tab-pane">
                              <h3> Next Tuesday </h3>
                                <div class="accordion" id="toggleArea">

                                    <div class="accordion-group panel">
                                        <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseFour"> Premier <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                                        <div id="collapseFour" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                              <table class="table table-striped">
                                                <thead>
                                                  <tr>
                                                    <th>Home Team</th>
                                                    <th>Away Team</th>
                                                    <th>Venue</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <td>Westerners</td>
                                                    <td>Pulo United</td>
                                                    <td>Moonee Ponds Club</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Quarry Cannons</td>
                                                    <td>Baize Invaders</td>
                                                    <td>Quarry Hotel</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Peacocks</td>
                                                    <td>Arcadia</td>
                                                    <td>Peacock Inn</td>
                                                  </tr>
                                                  <tr>
                                                    <td>Bangers</td>
                                                    <td>BYE</td>
                                                    <td>BYE</td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-group panel">
                                        <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseFive"> Division 1 <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                                        <div id="collapseFive" class="accordion-body collapse">
                                          <div class="accordion-inner">
                                            <table class="table table-striped">
                                              <thead>
                                                <tr>
                                                  <th>Home Team</th>
                                                  <th>Away Team</th>
                                                  <th>Venue</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td>Westerners</td>
                                                  <td>Pulo United</td>
                                                  <td>Moonee Ponds Club</td>
                                                </tr>
                                                <tr>
                                                  <td>Quarry Cannons</td>
                                                  <td>Baize Invaders</td>
                                                  <td>Quarry Hotel</td>
                                                </tr>
                                                <tr>
                                                  <td>Peacocks</td>
                                                  <td>Arcadia</td>
                                                  <td>Peacock Inn</td>
                                                </tr>
                                                <tr>
                                                  <td>Bangers</td>
                                                  <td>BYE</td>
                                                  <td>BYE</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="accordion-group panel">
                                        <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseSix"> Division 2 <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                                        <div id="collapseSix" class="accordion-body collapse">
                                          <div class="accordion-inner">
                                            <table class="table table-striped">
                                              <thead>
                                                <tr>
                                                  <th>Home Team</th>
                                                  <th>Away Team</th>
                                                  <th>Venue</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td>Westerners</td>
                                                  <td>Pulo United</td>
                                                  <td>Moonee Ponds Club</td>
                                                </tr>
                                                <tr>
                                                  <td>Quarry Cannons</td>
                                                  <td>Baize Invaders</td>
                                                  <td>Quarry Hotel</td>
                                                </tr>
                                                <tr>
                                                  <td>Peacocks</td>
                                                  <td>Arcadia</td>
                                                  <td>Peacock Inn</td>
                                                </tr>
                                                <tr>
                                                  <td>Bangers</td>
                                                  <td>BYE</td>
                                                  <td>BYE</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div id="laddertab" class="tab-pane">
                              <h3> Next Tuesday </h3>
                                <div class="accordion" id="toggleArea">

                                    <div class="accordion-group panel">
                                        <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseSeven"> Premier <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                                        <div id="collapseSeven" class="accordion-body collapse">
                                            <div class="accordion-inner">
                                              <table class="table table-striped">
                                                <thead>
                                                  <tr>
                                                    <th>Pos</th>
                                                    <th>Team Name</th>
                                                    <th>PL</th>
                                                    <th>W</th>
                                                    <th>L</th>
                                                    <th>FF</th>
                                                    <th>FA</th>
                                                    <th>PCT</th>
                                                    <th>PTS</th>
                                                  </tr>
                                                </thead>
                                                <tbody>
                                                  <tr>
                                                    <th>1</th>
                                                    <th>Pulo United</th>
                                                    <th>10</th>
                                                    <th>9</th>
                                                    <th>1</th>
                                                    <th>131</th>
                                                    <th>69</th>
                                                    <th>65.50</th>
                                                    <th>36</th>
                                                  </tr>
                                                  <tr>
                                                    <th>2</th>
                                                    <th>Westerners</th>
                                                    <th>11</th>
                                                    <th>8</th>
                                                    <th>3</th>
                                                    <th>137</th>
                                                    <th>86</th>
                                                    <th>61.43</th>
                                                    <th>32</th>
                                                  </tr>
                                                  <tr>
                                                    <th>3</th>
                                                    <th>Bangers</th>
                                                    <th>11</th>
                                                    <th>8</th>
                                                    <th>3</th>
                                                    <th>127</th>
                                                    <th>95</th>
                                                    <th>57.21</th>
                                                    <th>32</th>
                                                  </tr>
                                                  <tr>
                                                    <th>4</th>
                                                    <th>Baize Invaders</th>
                                                    <th>10</th>
                                                    <th>4</th>
                                                    <th>6</th>
                                                    <th>98</th>
                                                    <th>107</th>
                                                    <th>47.80</th>
                                                    <th>16</th>
                                                  </tr>
                                                  <tr>
                                                    <th>5</th>
                                                    <th>Arcadia</th>
                                                    <th>10</th>
                                                    <th>3</th>
                                                    <th>7</th>
                                                    <th>89</th>
                                                    <th>111</th>
                                                    <th>44.50</th>
                                                    <th>12</th>
                                                  </tr>
                                                  <tr>
                                                    <th>6</th>
                                                    <th>Quarry Cannons</th>
                                                    <th>10</th>
                                                    <th>2</th>
                                                    <th>8</th>
                                                    <th>76</th>
                                                    <th>126</th>
                                                    <th>37.62</th>
                                                    <th>8</th>
                                                  </tr>
                                                  <tr>
                                                    <th>7</th>
                                                    <th>Peacocks</th>
                                                    <th>10</th>
                                                    <th>2</th>
                                                    <th>8</th>
                                                    <th>69</th>
                                                    <th>133</th>
                                                    <th>34.16</th>
                                                    <th>8</th>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="accordion-group panel">
                                        <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseEight"> Division 1 <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                                        <div id="collapseEight" class="accordion-body collapse">
                                          <div class="accordion-inner">
                                            <table class="table table-striped">
                                              <thead>
                                                <tr>
                                                  <th>Home Team</th>
                                                  <th>Away Team</th>
                                                  <th>Venue</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td>Westerners</td>
                                                  <td>Pulo United</td>
                                                  <td>Moonee Ponds Club</td>
                                                </tr>
                                                <tr>
                                                  <td>Quarry Cannons</td>
                                                  <td>Baize Invaders</td>
                                                  <td>Quarry Hotel</td>
                                                </tr>
                                                <tr>
                                                  <td>Peacocks</td>
                                                  <td>Arcadia</td>
                                                  <td>Peacock Inn</td>
                                                </tr>
                                                <tr>
                                                  <td>Bangers</td>
                                                  <td>BYE</td>
                                                  <td>BYE</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="accordion-group panel">
                                        <div class="accordion-heading togglize"> <a class="accordion-toggle" data-toggle="collapse" data-parent="#" href="#collapseNine"> Division 2 <i class="fa fa-plus-circle"></i> <i class="fa fa-minus-circle"></i> </a> </div>
                                        <div id="collapseNine" class="accordion-body collapse">
                                          <div class="accordion-inner">
                                            <table class="table table-striped">
                                              <thead>
                                                <tr>
                                                  <th>Home Team</th>
                                                  <th>Away Team</th>
                                                  <th>Venue</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                  <td>Westerners</td>
                                                  <td>Pulo United</td>
                                                  <td>Moonee Ponds Club</td>
                                                </tr>
                                                <tr>
                                                  <td>Quarry Cannons</td>
                                                  <td>Baize Invaders</td>
                                                  <td>Quarry Hotel</td>
                                                </tr>
                                                <tr>
                                                  <td>Peacocks</td>
                                                  <td>Arcadia</td>
                                                  <td>Peacock Inn</td>
                                                </tr>
                                                <tr>
                                                  <td>Bangers</td>
                                                  <td>BYE</td>
                                                  <td>BYE</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <hr/>
                	<div class="row">
                    <div class="col-md-12 col-sm-12">
                      <h3 class="widget-title">News</h3>

                      <div class="posts-listing">
                        <div class="list-item blog-list-item format-standard">
                          <div class="row">
                            <div class="col-md-4 col-sm-4">
                              <div class="post-media">
                                <a href="blog-single.html" class="img-thumbnail"><img src="http://placehold.it/600x500&amp;text=IMAGE+PLACEHOLDER" alt="" class="post-thumb"></a>
                              </div>
                            </div>
                            <div class="col-md-8 col-sm-8">
                              <h3><a href="blog-single.html">Champion of Champions</a></h3>
                              <div class="meta-data alt">
                              	<div><i class="fa fa-clock-o"></i> July 20, 2017</div>
                              	<div><i class="fa fa-archive"></i> <a href="#">CofC</a>, <a href="#">Tournaments</a></div>
                             	</div>
                              <div class="list-item-excerpt">
                                  <p>Overall, the Champion of Champions tournament ran very smoothly! Although there were some suprise non qualifiers, click here to find out who!</p>
                              </div>
                              <div class="post-actions">
                                  <a href="blog-single.html" class="btn btn-primary">Continue reading</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
              </div>
              <div class="col-md-3 col-sm-12">
                <div class="widget sidebar-widget widget_categories box-style1">
                	<h3 class="widget-title">Resources</h3>
                    <ul>
                    	<li><a href="#"></i> Calendar</a></li>
                    	<li><a href="#"></i> Draw</a></li>
                    	<li><a href="#"></i> Teams and Captains</a></li>
                      <li><a href="/winter-2017/venues/"></i> Venues</a></li>
                    	<li><a href="#"></i> Scoresheet</a></li>
                    	<li><a href="#"></i> Registration Forms</a></li>
                    </ul>
                </div>
              </div>
            </div>
          </div>


        </div>
    </div>

{% endblock %}
