{% load wagtailcore_tags wagtailimages_tags %}

{% if carousel_items %}
    <div class="hero-area">
      <!-- Start Hero Slider -->
        <div class="flexslider heroflex hero-slider" data-autoplay="yes" data-pagination="no" data-arrows="yes" data-style="fade" data-pause="yes">
            <ul class="slides">
                {% for item in carousel_items %}
                    {% image item.image width-1500 as imagedata %}
                    <li class="parallax" style="background-image:url({{ imagedata.url }})"></li>
                    <li class="parallax" style="background-image:url({{ imagedata.url }})">
                      <div class="flex-caption">
                          <h1>{{ item.title }}</h1>
                            <p>{{ item.caption }}</p>
                            <a href="{{ item.link }}" class="btn btn-info">{{ item.link_text }}</a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- End Hero Slider -->
    </div>
{% endif %}
