{% if paginator.has_other_pages %}
    <ul class="pagination">
        {% if paginator.has_previous %}
            <li><a href="?page={{ paginator.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" title="First"><i class="fa fa-chevron-left"></i></a></li>
        {% endif %}

        {% for page in pages %}
            {% if page == paginator.number %}
                <li class="active"><span>{{ page }}</span></li>
            {% else %}
                <li><a href="?page={{ page }}" class="">{{ page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if paginator.has_next %}
            <li><a href="?page={{ paginator.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&amp;{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" title="Last"><i class="fa fa-chevron-right"></i></a></li>
        {% endif %}
    </ul>
{% endif %}
