{% extends 'home/base.html' %}

{% load home_tags %}
{% load wagtailcore_tags %}

{% block content %}
  {{ block.super }}

  {% index_image %}

  {% breadcrumbs %}

  <div class="main" role="main">
      <div id="content" class="content full">
          <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-8">
                    {{ self.thank_you_text|richtext }}
                </div>

                <div class="col-md-4 col-sm-4">

                </div>
              </div>
          </div>
      </div>
  </div>

{% endblock %}
