{% extends "home/base.html" %}
{% load static %}
{% load members_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {% breadcrumb "MMPL" "/" %}
    {% breadcrumb "Members" "members_base" %}
{% endblock %}

{% block content %}
    {{ block.super }}

    <div class="hero-area">
        <div class="page-header" style="background-image: url({% static "img/members_header.jpg" %})")>
            <div><div><span>Members</span></div></div>
        </div>
    </div>

    {% render_breadcrumbs %}

    <div class="main" role="main">
        <div id="content" class="content full">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">

                        {% block messages %}
                            {% messages %}
                        {% endblock %}

                        {% block data %}
                        {% endblock data %}

                    </div>
                    <div class="col-md-4">
                        {% block sidebar %}

                        {% endblock sidebar %}

                        {% navigation_sidebar %}

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
