{% extends "members/committee_list.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object "committee_detail" object.slug %}
{% endblock %}

{% block data %}
    <h1>{{ object }}</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Attribute </th>
                <th> Value </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> President </td>
                <td> {{ object.president }} </td>
            </tr>
            <tr>
                <td> Vice President </td>
                <td> {{ object.vice_president }} </td>
            </tr>
            <tr>
                <td> Treasurer </td>
                <td> {{ object.treasurer }} </td>
            </tr>
            <tr>
                <td> Statistician </td>
                <td> {{ object.statistician }} </td>
            </tr>
            <tr>
                <td> Secretary </td>
                <td> {{ object.secretary }} </td>
            </tr>
            <tr>
                <td> Assistant Secretary </td>
                <td> {{ object.assistant_secretary }} </td>
            </tr>
            <tr>
                <td> Election Date </td>
                <td> {{ object.start_date }} </td>
            </tr>
            <tr>
                <td> End Date </td>
                <td> {{ object.end_date }} </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
