{% extends "members/committee_list.html" %}

{% load members_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}
    {{ block.super }}
     | {{ object }}
{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object "members:committee_detail" object.slug %}
{% endblock %}

{% block messages %}
{% endblock %}

{% block data %}
    <h1>{{ object }}</h2>

    {% messages %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Attribute </th>
                <th> Value </th>
            </tr>
        </thead>
        <tbody>
            {% for member in object.committee_members %}
                <tr>
                    <td> {{ member.get_position_display }} </td>
                    <td> {{ member.player }} </td>
                </tr>
            {% endfor %}
            <tr>
                <td> Election Date </td>
                <td> {{ object.start_date }} </td>
            </tr>
            <tr>
                <td> End Date </td>
                <td> {{ object.end_date }} </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="widget sidebar-widget widget_categories box-style1">
      	<h3 class="widget-title">Actions</h3>
        <ul>
          <li><a href="{% url 'members:committee_update' object.slug %}"></i> Update</a></li>
          <li><a href="{% url 'members:committee_delete' object.slug %}"></i> Remove</a></li>
        </ul>
    </div>
{% endblock %}
