{% extends "members/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}
    Committees
{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Committees' 'members:committee_list' %}
{% endblock %}

{% block data %}
    <h1>Committees</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Start Date </th>
                <th> End Date </th>
            </tr>
        </thead>
        <tbody>
            {% for committee in object_list %}
            <tr>
                <td> <a href="{{ committee.get_absolute_url }}">{{ committee.start_date }}</a> </td>
                <td> <a href="{{ committee.get_absolute_url }}">{{ committee.end_date }}</a> </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="widget sidebar-widget widget_categories box-style1">
      	<h3 class="widget-title">Actions</h3>
        <ul>
          <li><a href="{% url 'members:committee_add' %}"></i> Add</a></li>
          <li><a href="#"></i> Bulk Add</a></li>
          <li><a href="#"></i> Search</a></li>
        </ul>
    </div>
{% endblock %}
