{% extends "members/base.html" %}

{% block data %}
    <h1>Committees</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> President </th>
                <th> Vice President </th>
                <th> Start Date </th>
                <th> End Date </th>
            </tr>
        </thead>
        <tbody>
            {% for committee in object_list %}
            <tr>
                <td> <a href="{{ committee.get_absolute_url }}">{{ committee.president }}</a> </td>
                <td> {{ committee.vice_president }} </td>
                <td> {{ committee.start_date }} </td>
                <td> {{ committee.end_date }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="widget sidebar-widget widget_categories box-style1">
      	<h3 class="widget-title">Actions</h3>
        <ul>
          <li><a href="#"></i> Add</a></li>
          <li><a href="#"></i> Remove</a></li>
        </ul>
    </div>
    <div class="widget sidebar-widget widget_categories box-style1">
        <h3 class="widget-title">Navigation</h3>
        <ul>
          <li><a href="#"></i> Players</a></li>
          <li><a href="#"></i> Committees</a></li>
        	<li><a href="#"></i> Venues</a></li>
        </ul>
    </div>
{% endblock %}
