{% extends "members/committee_list.html" %}

{% load django_bootstrap_breadcrumbs %}
{% load crispy_forms_tags %}

{% block title %}
    {{ block.super }}
     | Add Committee
{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb "Add Committee" "" %}
{% endblock %}

{% block data %}
    <h1>Add Committee</h1>
    <form action="" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}

{% block sidebar %}
{% endblock %}
