{% extends "members/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Players' 'members:player_list' %}
{% endblock %}

{% block data %}
    <h1>Players</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Name </th>
                <th> Phone </th>
                <th> Email </th>
            </tr>
        </thead>
        <tbody>
            {% for player in object_list %}
            <tr>
                <td> <a href="{{ player.get_absolute_url }}">{{ player }}</a> </td>
                <td> {{ player.phone }} </td>
                <td> {{ player.email }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="widget sidebar-widget widget_categories box-style1">
      	<h3 class="widget-title">Actions</h3>
        <ul>
          <li><a href="{% url 'members:player_add' %}"></i> Add</a></li>
        </ul>
    </div>
{% endblock %}
