{% extends "members/venue_list.html" %}

{% load members_tags %}
{% load django_bootstrap_breadcrumbs %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object "members:venue_detail" object.slug %}
{% endblock %}

{% block messages %}
{% endblock %}

{% block data %}
    <h1>{{ object }}</h2>

    {% messages %}

    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Attribute </th>
                <th> Value </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> Venue Name </td>
                <td> {{ object.name }} </td>
            </tr>
            <tr>
                <td> Address </td>
                <td> {{ object.address }} </td>
            </tr>
            <tr>
                <td> # Tables </td>
                <td> {{ object.tables }} </td>
            </tr>
            <tr>
                <td> Phone </td>
                <td> {{ object.phone }} </td>
            </tr>
            <tr>
                <td> Contact Name </td>
                <td> {{ object.contact_name }} </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="widget sidebar-widget widget_categories box-style1">
      	<h3 class="widget-title">Actions</h3>
        <ul>
          <li><a href="{% url 'members:venue_update' object.slug %}"></i> Update</a></li>
          <li><a href="{% url 'members:venue_delete' object.slug %}"></i> Remove</a></li>
        </ul>
    </div>
{% endblock %}
