{% extends "members/base.html" %}

{% load django_bootstrap_breadcrumbs %}

{% block title %}
    {{ block.super }}
     | Venues
{% endblock title %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb 'Venues' 'members:venue_list' %}
{% endblock %}

{% block data %}
    <h1>Venues</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th> Name </th>
                <th> Phone </th>
                <th> Email </th>
            </tr>
        </thead>
        <tbody>
            {% for venue in object_list %}
            <tr>
                <td> <a href="{{ venue.get_absolute_url }}">{{ venue }}</a> </td>
                <td> {{ venue.phone }} </td>
                <td> {{ venue.email }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="widget sidebar-widget widget_categories box-style1">
      	<h3 class="widget-title">Actions</h3>
        <ul>
          <li><a href="{% url 'members:venue_add' %}"></i> Add</a></li>
          <li><a href="#"></i> Bulk Add</a></li>
          <li><a href="#"></i> Search</a></li>
        </ul>
    </div>
{% endblock %}
